<h1>Make your form here</h1>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Aaaaargh Matey!!</title>

</head>
<body>    
    <h1>Aaaaargh Matey!!</h1>
<form method="POST" action="/pirates">
    <label for="name"> Pirate Name:</label>
    <input type="text" id="name" name="pirate[name]">

    <label for="weight">Pirate Weight:</label>
    <input type="text" id="weight" name="pirate[weight]">

    <label for="height">Pirate Height:</label>
    <input type="text" id="height" name="pirate[height]">

    <label for="name">First Ship's Name:</label>
    <input type="text" id="ship_name_1" name="pirate[ships][][name]">

    <label for="name">First Ship's Type:</label>
    <input type="text" id="ship_type_1" name="pirate[ships][][type]">

    <label for="name">Ship 1 Booty:</label>
    <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">

    <label for="name">Ship 2 Name:</label>
    <input type="text" id="ship_name_2" name="pirate[ships][][name]">

    <label for="name">Ship 2 Type:</label>
    <input type="text" id="ship_type_2" name="pirate[ships][][type]">

    <label for="ship_booty">Ship 2 Booty:</label>
    <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
    
    <input type="submit" value="Submit">
</form>

</body>

</html>
